.about {
  border: 2px solid black;
  font-size: 35px;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 10px 10px 8px paleturquoise;
  background-color: black;
  color: white;
  margin: 5px;
  margin-top: 40px;
  text-align: center;
}
