.abc :link {
  text-decoration: none;
  font-family: serif;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.3em;
  color: #030327;
  text-decoration: none;
  margin-right: 10px;
}
